<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.automatodev.e_conommiza_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Econommiza_app"
        tools:ignore="AllowBackup">
        <activity android:name=".CategoryActivity"
            android:parentActivityName=".CategoryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Econommiza_app_two">



        </activity>
        <activity
            android:name=".view.activity.ReportActivity"
            android:parentActivityName=".view.activity.ReportActivity"
            android:theme="@style/Theme.Econommiza_app_two">

        </activity>
        <activity
            android:name=".view.activity.AddItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Econommiza_app_two">

        </activity>
        <activity
            android:name=".view.activity.ProfileActivity"
            android:parentActivityName=".view.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Econommiza_app_two">

        </activity>
        <activity
            android:name=".view.activity.RegisterActivity"
            android:parentActivityName=".view.activity.RegisterActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Econommiza_app_two" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>